.flex_01 {
    height: 100%;
    width: 100%;
    display: flex;
    border: 1px solid;
    border-radius: 10px;
}

a.btn_01 {
    top: 30%;
    width: inherit;
    height: inherit;
    color: #ff0072;
    text-decoration: none;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s ease all;
    cursor: pointer;
}

a.btn_01:hover {
    color: #fff;
}

.btn_01 {
    font-size: 1rem;
    letter-spacing: 2px;
    display: inline-block;
    text-align: center;
    align-items: center;
    /* Vertical align */
    justify-content: center;
    /* Horizontal align */
    font-weight: bold;
    border-radius: 2px;
    position: relative;
    border-radius: inherit;
}

.btn_01::before {
    position: absolute;
    top: -30%;
    left: 50%;
    right: 50%;
    bottom: 30%;
    opacity: 0;
    content: "";
    background-color: #ff0072;
    z-index: -2;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    border-radius: inherit;
}

.btn_01:hover::before {
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}